
* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #F7F7F3;
}

header {
  position: sticky;
  top: 39px;;
  background-color: #F7F7F3;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 10px;
  font-size: 12px;
}

img {
  width: 80%;
}

h2 {
  text-align: left;
  font-family: 'Barrio', cursive;
  font-size: 18px;
  color: #252619;
  margin-bottom: 5px;
}

main {
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

main ul {
  font-family: 'Open Sans', sans-serif;
  margin: 10px;
  width: 80%;
}

main li {
  font-size: 12px;
}

main p {
  text-align: justify;
  font-size: 12px;
  margin: 5px 0;
  padding: 0;
  width: 80%
}

main a, .portfolio a {
text-decoration: underline #B7B666;
}

.p-link {
  font-family: Barrio;
  margin: 5px 0;
  font-size: 18px;
  text-align: center;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
  color: #252619;
}

nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-family: 'Barrio', cursive;
  font-size: 18px;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #F7F7F3;
  padding-top: 5px;
}

nav {
  padding: 0;
  background-color: #F7F7F3;
}

.icon {
  font-size: 18px;
  margin: auto 5px;
  color: #252619;
}

.link {
  text-decoration: none;
  color: black;
}

.icon:hover{
  color: #778240;
}

a:hover {
  color: #778240;
}

h1 {
  text-align: center;
  font-family: 'Barrio', cursive;
  font-size: 23px;
  color: #252619;
  margin-bottom: 5px;
  background-color: #F7F7F3;

}

.title {
  font-size: 35px;
  position: sticky;
  top: 0;
}


@media (min-width: 769px) {
  .layout {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  main p {
    font-size: 18px;
  }

  header {
    background-color: transparent;
    margin-right: 40px;
    width: 15%
  }

  main {
    padding-top: 60px;
    width: 80%;
    margin-bottom: 40px;
  }

  .footer {
    width: 15%;
    align-content: left;
  }

  nav {
    position: sticky;
    top: 115px;
  }

  .short {
    padding-top: 150px;
  }

  .short p {
    width: 60%;

  }

  h1 {
    font-size: 50px;
    text-align: center;
  }

  .title {
    font-size: 80px;
    text-align: right;
    padding-top: 20px;
    padding-right: 40px;
    position: sticky;
    top: 0;
    border-bottom: solid 3px
  }

  h2 {
    font-size: 30px;
    margin-top: 10px;
  }

  footer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: left;
  }

  footer {
    width: 10%;
    margin: 40px 40px;
    background-color: transparent;
  }

  nav ul {
    list-style-type: none;
    display: block;
    text-align: right;
    font-size: 35px;

  }

  main ul {
    width: 80%;
  }

  main li {
    text-align: justify;
    margin: 0;
    padding: 3px 0;
    font-size: 18px;
  }

  .icon {
    font-size: 40px;
    margin: 2px auto;
    padding: 0;
  }


  img {
    width: 70%;
    margin: 10px 0;
  }

  .p-link {
    font-size: 30px;
    font-family: Barrio;
    margin: 10px 0;
  }

}
